/* src/index.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* NAV */
.navbar {
  background-color: #e6b7df;
  padding: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 5rem;
  width: auto;
}

.menu-buttons {
  display: flex;
  align-items: center;
}

.menu-buttons button {
  margin-right: 1rem;
  color: white;
  background-color: transparent;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
}

.menu-buttons button:last-child {
  margin-right: 0;
}